body {
    background-image: url('https://images.pexels.com/photos/34950/pexels-photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'lucida grande', sans-serif;
    line-height: 1.6;
    font-weight: 200;
    color: black;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.one {
    border: 1px solid #000;
  border-style: solid;
  margin-bottom: auto;
    padding: 20px;
  border-width: 5px;
  }

nav {
    margin: 20px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #555;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }
}
